

.panelBox {
  display:flex;
  flex-direction: column;
  width: 30rem;
  margin: 3px;
  padding: 3px;
}

.checkBox {
  display:flex;
  flex-direction: column;
  justify-content: space-between;
  border-radius: 15px;
  background-color: #777;
  margin: 2px;
}

.labelBox {
  display:flex;
  justify-content: start;
  margin: 10px;
  text-shadow: none;
  font-size: 20px;
}

.labelBox label {
  border: 1px solid #888;
  border-radius: 10px;
}

.labelBox input[type=checkbox] {
  display: none;
}

.labelBox input[type=checkbox]:checked + label {
  box-shadow: 0px 0px 10px rgba(176, 239, 44, 0.9);
  background-color:  rgba(176, 239, 44, 0.3);
}

.labelBox label img {
  cursor: pointer;
  width: 70px;
  height: 70px;
  margin: 10px;
}

.sliderBox {
  display: flex;
  flex-direction: column;
  margin: 5px;
  width: 90%;
  height: 1rem;
  margin: 3px;
  padding: 3px;
}

.sliderBox p {
  padding: 15px
}

.slider {
  -webkit-appearance: none;  /* Override default CSS styles */
  width: 100%; /* Full-width */
  height: 7px; /* Specified height */
  background: #d3d3d3; /* Grey background */
  outline: none; /* Remove outline */
  opacity: 0.7; /* Set transparency (for mouse-over effects on hover) */
  -webkit-transition: .2s; /* 0.2 seconds transition on hover */
  transition: opacity .2s;
  margin: 5px;
  box-shadow: 2px 2px 5px #333333;
  border-radius: 5px;
}

.slider::-webkit-slider-thumb {
  -webkit-appearance: none; /* Override default look */
  appearance: none;
  width: 15px; /* Set a specific slider handle width */
  height: 35px; /* Slider handle height */
  background: #333; /* Green background */
  border-radius: 5px;
  border: 2px solid #aaa;
  box-shadow: 2px 2px 5px #333333;
  cursor: pointer; /* Cursor on hover */
}