* {
  margin: 0;
  padding: 0; 
  outline: none;
}

:root{
  --main-color: #777;
  --light-color: #888;
  --dark-color: #666;
  --highlight-color: #999;
  --strong-highlight-color: #aaa;
  --shadow-color: #333;
  --background-color: #222;
}

.App {
  text-align: center;
}

body {
  background-color: var(--background-color);
  display: flex-inline;
  /*font-family: 'Nothing You Could Do';*/
  /* font-family: 'Special Elite', cursive; */
  font-family: 'Georgia', serif;
}

.main {
  display: flex; 
  width: 100%;
}

.main__aside-left, .main__aside-right {
  background-color: var(--background-color);
  display: flex; 
  height: 100%;
  width: 5%;
}

@media screen and (min-width: 0px) and (max-width: 736px){
  .main__aside-left, .main__aside-right {
    width: 1%;
  } 
}

.main__viev-container {
  background-color: var(--main-color);
  border-radius: 10px;
  box-shadow: 0px 2px 2px var(--shadow-color);
  border: 1px solid var(--light-color);
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  width: 98%;
}

#viev-container__setups {
  background-color: var(--main-color);
  background-color: var(--shadow-color);
  border-radius: 20px;
  border: 1px solid var(--light-color);
  box-shadow: 1px 2px var(--shadow-color);
  display: flex;
  /* flex-direction: column; */
  margin: 5px;
  padding: 2px;
  width: 98%;
}

#viev-container__shows {
  display: flex;
}

#shows__viev {
  align-items: center; 
  background-color: var(--shadow-color);
  border-radius: 20px;
  border: 2px solid var(--light-color);
  box-shadow: 0px 1px 2px var(--shadow-color);
  display: flex;
  /*font-family: 'Notable', sans-serif;*/
  height: 50vh;
  justify-content: space-evenly;
  margin: 1vh;
  text-align: center;
  width: 70%;
}

#shows__viev p {
  font-size: 75px; 
  margin: 5px;
}

#shows__nation {
  align-items: center;
  border-radius: 20px;
  border: 1px solid var(--light-color);
  box-shadow: 0px 1px 2px var(--shadow-color);
  background-color: var(--main-color);
  display: flex;
  /*font-family: 'Notable', sans-serif;*/
  height: 50vh;
  justify-content: space-evenly;
  margin: 1vh;
  text-align: center;
  width: 26%; 
}

.neutralButton{
  background-color: var(--main-color);
  border-radius: 10px;
  box-shadow: 0px 2px 2px var(--shadow-color);
  border: 1px solid var(--light-color);
  cursor: pointer;
  color: #FAE4AD;
  font-size: 30px;
  font-family: 'Georgia', serif;
  height: 60px;
  margin: 10px;
  padding-top: 1px;
  text-shadow: 0px 0px 5px #F99A21;
  transition: background-color 0.3s;
  width: 98%;
}

.neutralButton:active{
  background-color: var(--light-color);
  box-shadow: 0px -2px 2px var(--shadow-color);
  color: rgb(255, 224, 146);
  text-shadow: 0px 0px 5px rgb(248, 140, 17);
  padding-top: 0px;
}

@media screen and (min-width: 0px) and (max-width: 736px){
  #viev-container__setups {
    flex-direction: column; 
    margin: 1px;
    padding-left: 2px;
    padding-right: 3px;
    width: 98%;
  }

  .main__aside-left, .main__aside-right {
    width: 1%;
  }
  
  #shows__viev {
    border-radius: 15px;
    display: flex;
    height: 50vh;
    margin: 2px;
  }

  .neutralButton{
    font-size: 25px;
    height: 40px;
    margin: 5px;
  }
}

@media screen and (min-width: 737px) and (max-width: 1366px){
  #viev-container__setups {
    flex-direction: column; 
  }
}


